In [3]:
import pandas as pd
import seaborn as sns
from sklearn import linear_model
import statsmodels.formula.api as smf

In [4]:
tips = sns.load_dataset("tips")

In [5]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
model = smf.ols("tip ~ total_bill", data=tips)

In [8]:
results = model.fit()

In [10]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    tip   R-squared:                       0.457
Model:                            OLS   Adj. R-squared:                  0.454
Method:                 Least Squares   F-statistic:                     203.4
Date:                Thu, 30 Jun 2022   Prob (F-statistic):           6.69e-34
Time:                        10:10:25   Log-Likelihood:                -350.54
No. Observations:                 244   AIC:                             705.1
Df Residuals:                     242   BIC:                             712.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.9203      0.160      5.761      0.000       0.606       1.235
total_bill     0.1050      0.007     14.260      0.000       0.091       0.120
==============================================================================
Omnibus:                       20.185   Durbin-Watson:                   2.151
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               37.750
Skew:                           0.443   Prob(JB):                     6.35e-09
Kurtosis:                       4.711   Cond. No.                         53.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [12]:
tips.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [19]:
model = smf.ols("tip ~ total_bill + sex + smoker + day + size", data=tips)

In [20]:
results = model.fit()

In [21]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    tip   R-squared:                       0.470
Model:                            OLS   Adj. R-squared:                  0.454
Method:                 Least Squares   F-statistic:                     29.90
Date:                Thu, 30 Jun 2022   Prob (F-statistic):           2.12e-29
Time:                        10:14:45   Log-Likelihood:                -347.49
No. Observations:                 244   AIC:                             711.0
Df Residuals:                     236   BIC:                             739.0
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         0.5917      0.255      2.318      0.021       0.089       1.095
sex[T.Female]     0.0324      0.141      0.230      0.819      -0.246       0.311
smoker[T.No]      0.0849      0.146      0.581      0.561      -0.203       0.372
day[T.Fri]        0.1198      0.279      0.430      0.668      -0.429       0.669
day[T.Sat]       -0.0261      0.175     -0.149      0.882      -0.371       0.319
day[T.Sun]        0.0701      0.181      0.386      0.700      -0.287       0.428
total_bill        0.0943      0.010      9.922      0.000       0.076       0.113
size              0.1770      0.089      1.987      0.048       0.001       0.353
==============================================================================
Omnibus:                       27.933   Durbin-Watson:                   2.095
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               52.677
Skew:                           0.608   Prob(JB):                     3.64e-12
Kurtosis:                       4.924   Cond. No.                         117.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [23]:
lr = linear_model.LinearRegression()

In [24]:
# lr.fit(X=tips['total_bill'].values.reshape(1, -1), y=tips['tip'])

In [25]:
# tip ~ total_bill + size
lr.fit(X=tips[["total_bill", "size"]], y=tips["tip"])

LinearRegression()

In [26]:
lr.coef_

array([0.09271334, 0.19259779])

In [27]:
lr.intercept_

0.6689447408125027

In [28]:
lr = linear_model.LinearRegression()
lr.fit(X=tips[["total_bill", "size", "smoker"]], y=tips["tip"])

ValueError: could not convert string to float: 'No'

In [29]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [34]:
tips[tips.total_bill < tips.total_bill.std() * 2]

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
6          8.77  2.00    Male     No  Sun  Dinner     2
8         15.04  1.96    Male     No  Sun  Dinner     2
9         14.78  3.23    Male     No  Sun  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
232       11.61  3.39    Male     No  Sat  Dinner     2
233       10.77  1.47    Male     No  Sat  Dinner     2
234       15.53  3.00    Male    Yes  Sat  Dinner     2
235       10.07  1.25    Male     No  Sat  Dinner     2
236       12.60  1.00    Male    Yes  Sat  Dinner     2

[122 rows x 7 columns]

In [ ]:
# dummy encoding
# # one-hot encoding

In [35]:
pd.get_dummies(tips)

,total_bill,tip,size,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
0,16.99,1.01,2,0,1,0,1,0,0,0,1,0,1
1,10.34,1.66,3,1,0,0,1,0,0,0,1,0,1
2,21.01,3.50,3,1,0,0,1,0,0,0,1,0,1
3,23.68,3.31,2,1,0,0,1,0,0,0,1,0,1
4,24.59,3.61,4,0,1,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,1,0,0,1,0,0,1,0,0,1
240,27.18,2.00,2,0,1,1,0,0,0,1,0,0,1
241,22.67,2.00,2,1,0,1,0,0,0,1,0,0,1
242,17.82,1.75,2,1,0,0,1,0,0,1,0,0,1
243,18.78,3.00,2,0,1,0,1,1,0,0,0,0,1

In [36]:
pd.get_dummies(tips, drop_first=True)

,total_bill,tip,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,1.01,2,1,1,0,0,1,1
1,10.34,1.66,3,0,1,0,0,1,1
2,21.01,3.50,3,0,1,0,0,1,1
3,23.68,3.31,2,0,1,0,0,1,1
4,24.59,3.61,4,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,0,1,0,1,0,1
240,27.18,2.00,2,1,0,0,1,0,1
241,22.67,2.00,2,0,0,0,1,0,1
242,17.82,1.75,2,0,1,0,1,0,1
243,18.78,3.00,2,1,1,0,0,0,1

In [37]:
tips_dummy = pd.get_dummies(tips, drop_first=True)

In [38]:
tips_dummy.head()

,total_bill,tip,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,1.01,2,1,1,0,0,1,1
1,10.34,1.66,3,0,1,0,0,1,1
2,21.01,3.50,3,0,1,0,0,1,1
3,23.68,3.31,2,0,1,0,0,1,1
4,24.59,3.61,4,1,1,0,0,1,1

In [39]:
y = tips_dummy.pop("tip")

In [40]:
y

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [41]:
tips_dummy

,total_bill,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,2,1,1,0,0,1,1
1,10.34,3,0,1,0,0,1,1
2,21.01,3,0,1,0,0,1,1
3,23.68,2,0,1,0,0,1,1
4,24.59,4,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...
239,29.03,3,0,1,0,1,0,1
240,27.18,2,1,0,0,1,0,1
241,22.67,2,0,0,0,1,0,1
242,17.82,2,0,1,0,1,0,1
243,18.78,2,1,1,0,0,0,1

In [42]:
lr = linear_model.LinearRegression()

In [43]:
lr.fit(X=tips_dummy, y=y)

LinearRegression()

In [44]:
lr.coef_

array([ 0.09448701,  0.175992  ,  0.03244094,  0.08640832,  0.1622592 ,
        0.04080082,  0.13677854, -0.0681286 ])

In [45]:
tips_dummy.columns

Index(['total_bill', 'size', 'sex_Female', 'smoker_No', 'day_Fri', 'day_Sat',
       'day_Sun', 'time_Dinner'],
      dtype='object')